/* --------------------------------------
  Tablet Styling
-------------------------------------- */

@media screen and (min-width: 48em) {

    h1, h2 {
      font-size: 2.25rem;
    }
  
    h1 {
      margin-bottom: 40px;
    }
  
    h2 {
      margin-bottom: 60px;
    }
  
    h2 > i {
      margin-right: 20px;
    }

  /* --------------------------------------
    Reusable Classes
  -------------------------------------- */

 /* --------------------------------------
  Header
 -------------------------------------- */

 /* --------------------------------------
  Main - Hero
 -------------------------------------- */

 /* --------------------------------------
  Main - About
 -------------------------------------- */

 /* --------------------------------------
  Main - Method
 -------------------------------------- */


 /* --------------------------------------
  Main - Fragrance
 -------------------------------------- */


 /* --------------------------------------
  Main - How to Order
 -------------------------------------- */

 /* --------------------------------------
  Main - News
 -------------------------------------- */

 /* --------------------------------------
  Footer
 -------------------------------------- */

 .footer-menu {
  margin: 0px 0px 64px;
 }

 .footer-nav {
    display: flex;
    justify-content: center;
    margin: 0px auto 40px;
  }

  .footer-nav ul + ul {
    margin-left: 80px;
  }

}