/* --------------------------------------
  Laptop Styling
-------------------------------------- */

@media screen and (min-width: 64em) {

  h1, h2 {
    font-size: 3rem;
  }

  h3 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  /* --------------------------------------
    Reusable Classes
  -------------------------------------- */

 /* --------------------------------------
  Header
 -------------------------------------- */

 /* --------------------------------------
  Main - Hero
 -------------------------------------- */

 /* --------------------------------------
  Main - About
 -------------------------------------- */

 /* --------------------------------------
  Main - Method
 -------------------------------------- */

  /* --------------------------------------
  Main - Fragrance
 -------------------------------------- */
 
 /* --------------------------------------
  Main - How to Order
 -------------------------------------- */

 /* --------------------------------------
  Main - News
 -------------------------------------- */

 /* --------------------------------------
  Footer
 -------------------------------------- */

}